@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@200&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --border-radius: 20px;
  --color-bg__main: #f4f5f6;
  --color__main: #030303;
  --color__second: #333333;
  --color-accent__main: rgb(247, 167, 18);
  --color-accent__second: rgb(225, 255, 0);
}

body {
  background-image: url("/public/images/moonBackground.webp");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition-duration: 1.3s;
  display: flex;
  margin: auto;
}

h1 {
  font-weight: 900;
  color: darkturquoise;
  text-align: center;
  padding: 15px;
  font-size: clamp(41px, 4vw, 58px);
  font-family: 'Rubik Pixels', cursive;
}

h2 {
  font-weight: 700;
  color: aliceblue;
  font-family: 'Press Start 2P', cursive;

}

.season-container {
  font-weight: 700;

  color: floralwhite;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.show-container {
  width: 300px;
  margin: 30px;
  justify-content: center;
}

.show-container img {
  width: 300px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

/* BUTTON EFFECT */
/******************************** */
.button-effect {
  display: block;
  transform: scale(1.0);
  transition: transform 0.23s ease-in-out;
}

.button-effect:hover {
  transform: scale(1.13);
  filter: drop-shadow(0 0 10px rgba(0, 5, 9, 0.319));
  z-index: 999;
}

/* Disable hover effects on mobile */
@media (max-width: 768px) {
  .button-effect:hover {
    transform: scale(1.0);
    filter: none;
  }
}

.signup-container {
  font-family: 'Saira Semi Condensed', sans-serif;
  color: antiquewhite;

}